@page "/todo"
@inject HttpClient client
@inject IJSRuntime js

<h3>Todo Lists</h3>
<small>Add as many To do as you wish.</small>


@if (todos == null)
{
    <text>Loading...</text>
}

else
{


    <SortableTable Todos="todos"
                   SortColumn="@sortColumn"
                   SortDirection="@sortDirection"
                   AddTodoCallback="AddTodoHandler"
                   DeleteTodoCallback="DeleteTodoHandler"
                   ToggleCompletionCallback="ToggleCompletionHandler"
                   ColumnHeaders="@customColumnHeaders">
    </SortableTable>

}



@code {
    TodoItem[] todos { get; set; }
    string sortColumn = ""; // Замените на поле, по которому хотите сортировать по умолчанию
    string sortDirection = "ascending"; // Замените на "descending" для сортировки по убыванию

    bool showAddTodo = true;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        todos = await client.GetFromJsonAsync<TodoItem[]>("api/TodoItem");
    }
    private async Task AddTodoHandler((string title, string description) todo)
    {
        var todoItem = new TodoItem { Title = todo.title, Description = todo.description, IsDone = false, AddedTime = DateTime.Now };
        await client.PostAsJsonAsync("api/TodoItem", todoItem);
        await RefreshData();
        StateHasChanged();
    }

    private async Task DeleteTodoHandler(int todoId)
    {
        if (await js.InvokeAsync<bool>("confirm", "Do you want to delete the selected task?"))
        {
            await client.DeleteAsync($"api/TodoItem/{todoId}");
            await RefreshData();
            StateHasChanged();
        }
    }

    private async Task ToggleCompletionHandler(TodoItem item)
    {
        item.IsDone = !item.IsDone;
        if (item.IsDone)
        {
            item.CompletionTime = DateTime.Now;
        }
        else
        {
            item.CompletionTime = null;
        }
        await client.PutAsJsonAsync($"api/TodoItem/{item.Id}", item);
        await RefreshData();
        StateHasChanged();
    }
    string[] customColumnHeaders = new string[] { "Title", "Description", "Is Done", "Added Time", "Completion Time", "" };

}